body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2; /* Background color */
}

h1 {
  text-align: center;
}

.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pokemon-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  transition: background-color 0.3s ease;
  flex: 1 1 calc(25% - 20px); /* Flexbox for grid layout */
}

.pokemon-card img {
  max-width: 100px;
}

form.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background-color: #0056b3;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.caught-status {
  color: #28a745;
  font-weight: bold;
}

.pokemon-card.caught {
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.back-button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #ff5c5c;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
}

.back-button:hover {
  background-color: #ff1a1a;
}

.remove-button {
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: #dc3545;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.remove-button:hover {
  background-color: #c82333;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin: 0 10px;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination span {
  font-size: 16px;
}
